@charset "utf-8";
/*-----------------------
	重定义浏览器默认样式
-------------------------*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{line-height:1.6; background-color: #fff;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
img{border:0;vertical-align:middle}
table {
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.wrap {
    padding-bottom: 20px;
}
.section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}
.section h2 {
    padding: 15px 0;
    color: #ff629a;
    font-size: 20px;
}
.section .list {
    width: 100%;
}
.section .list th {
    height: 50px;
    line-height: 50px;
    color: #6a6668;
    background-color: #ffecf3;
    border: 1px solid #e8e7e7;
}
.section .list td {
    height: 50px;
    line-height: 50px;
    color: #6a6668;
    border: 1px solid #e8e7e7;
    text-align: center;
}
.section1 .list th {
    width: 33.3%;
}
.section2 .list th, .section3 .list th {
    width: 50%;
}